:root {
  --background: #fffdf8;
  --white: #ffffff;

  --blue: #155dfc;
  --blue-light: #dbeafe;

  --gray: #4a5565;
  --gray-dark: #1e2939;
  --gray-light: #99a1af;
  --border: #e5e7eb;

  --green: #00a63e;
  --green-light: #f0fdf4;

  --orange: #f54900;
  --orange-light: #ffedd4;

  --pink: #e60076;
  --pink-light: #fce7f3;

  --purple: #9810fa;
  --purple-light: #faf5ff;

  --red-light: #ffe2e2;

  --yellow: #fe9a00;
  --yellow-light: #fffbeb;

  --shadow-sm: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-header:
    0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);

  --radius-sm: 10px;
  --radius-md: 12px;
  --radius-lg: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100dvh;
  background-color: var(--background);
  color: var(--gray-dark);
  font-family: "Inter";
}

.container {
  width: 100%;
  max-width: 1086px;
  margin: 0 auto;
  padding: 32px 20px;
}

@media (max-width: 767px) {
  .container {
    padding: 24px 16px;
  }
}
