/* FOOTER */
.footer {
  background-color: var(--gray-dark);
}

.footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-height: 110px;
  margin: 0 auto;
  padding: 20px;
  color: var(--gray-light);
  text-align: center;
}
